@mixin important-text {
    color: red;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid blue;
  }
  @mixin important-text1{
      text-transform: capitalize;
      font-style: italic;
      background:black;

  }
  @mixin important-text2 {
    @include important-text;
    @include important-text1;
      
  }
  

  